<form class="form1" #insert1="ngForm" (ngSubmit)="insertData(insert1)">
    <table align="center">
      <tr>
        <td>
          
          <h2>Register here</h2>
    
       
     <div class="form-outline mb-4">
      <label class="formll" for="form1">Name</label>
        <input type="email" name="name" id="form1" placeholder="Enter Name" class="form-control" ngModel>
        
     
        <br>
        <br>
        <label class="forml2" for="form2">Email Id</label>
        <input type="Emp_name" name="email" id="form2" class="form-control" placeholder="Enter Email id" ngModel>
        
        <br>
        <br>
        <label class="form6" for="form6">Door.No</label>
        <input type="id" name="id" id="form6" class="form-control" placeholder="Enter Door.No" ngModel>  
    <br>
    <br>
    <label class="forml3" for="form3">Address</label>
    <input type="city" name="city" id="form3" class="form-control" placeholder="Enter Address" ngModel>
    
  
  <br>
  <br>
  <label class="forml4" for="form4">Mobile_no </label>
  <input type="gender" name="contact" id="form4" class="form-control" placeholder="Enter Mobile.No" ngModel>
        
      
    <br>
    <br>
      <!-- Password input -->
      <label class="forml5" for="form5">Password</label>
        <input type="password" name="password" id="form5" class="form-control" placeholder="Enter password" ngModel>
       
    
    <br>
    <div class="mt-auto">
      <p class="footer text-muted mb-0 mt-md-0 mt-4 text-white">By register you agree with our
          <span class="p-color me-1">terms and conditions</span>and
          <span class="p-color ms-1">privacy policy</span>
      </p>
  </div>
  <span class="fas fa-times"></span>
  <br>
    <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button></div>
  </div>
  </td>
  </tr>
  </table>
  </form>
  
  