<div style="background: aliceblue; padding: 10px; border-radius: 5px;">
    <div class="card text-white bg-secondary mb-3" style="max-width: 19rem;">
      <div class="card-header text-center">Shopping Cart</div>
      <div class="card-body">
        <h5 class="card-title">Total: ₹{{total}}</h5>
        <h6 class="card-title">Items bought</h6>
  
        <ul>
          <li *ngFor="let order of orders.productOrders">
            {{ order.product.name }} - {{ order.quantity}} pcs.
          </li>
        </ul>
  
        <button class="btn btn-light btn-block" (click)="finishOrder()"
          [disabled]="orders.productOrders.length == 0">Proceed to Buy
        </button>
      </div>
    </div>
  
    <div class="card text-white bg-secondary mb-3" style="max-width: 19rem;">
      <div class="card-header text-center">Delivery</div>
      <div class="card-body" style="padding: 0px !important; margin-top: -30px;">
        <div class="text-center text-white mt-5" style="text-align: left !important; padding: 0">
          <div>
            <ul class="list-group" style="color: rgb(218, 208, 208)">
              <li class="list-group-item text-white" *ngFor="let item of itemsList" style="background: #486ff0 !important;">
                <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/>
                {{item.name}}{{item.price}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
